[submodule "jitsi"]
	path = jitsi
	url = https://github.com/jmarcet/docker-jitsi-meet
	branch = master
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/jmarcet/dockprom
	branch = master
[submodule "multimedia/movistar_u7d"]
	path = multimedia/movistar_u7d
	url = https://github.com/jmarcet/movistar-u7d
	branch = master
[submodule "multimedia/jellyfin"]
	path = multimedia/jellyfin
	url = https://github.com/jellyfin/jellyfin
	branch = release-10.8.z
[submodule "gitlab/alpine-code-server"]
	path = gitlab/alpine-code-server
	url = https://github.com/jmarcet/alpine-code-server
