[submodule "multimedia/tvheadend"]
	path = multimedia/tvheadend
	url = https://github.com/jmarcet/docker-tvheadend
	branch = master
[submodule "jitsi"]
	path = jitsi
	url = https://github.com/jmarcet/docker-jitsi-meet
	branch = master
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/jmarcet/dockprom
	branch = master
