<settings version="2">
    <setting id="ActivarDLNA">false</setting>
    <setting id="BUFSIZE">65536</setting>
    <setting id="CanalesAutomatico">true</setting>
    <setting id="CargarCanalesHD">true</setting>
    <setting id="DiferenciaHoraria">1</setting>
    <setting id="DireccionBase">false</setting>
    <setting id="ModoDebug">true</setting>
    <setting id="MulticastAllInterface">true</setting>
    <setting id="OcultarRecordingseries">false</setting>
    <setting id="PuertoHttp">4242</setting>
    <setting id="PuertoHttpUpnp">4243</setting>
    <setting id="PuertoInicio">3937</setting>
    <setting id="PuertoVOD">0</setting>
    <setting id="Puertoservidor">5000</setting>
    <setting id="TipodirectoriosGrabacion">0</setting>
    <setting id="TipodirectoriosGrabacionExcluirSeries">true</setting>
    <setting id="TiposdeBusqueda">0</setting>
    <setting id="TranscodificarDLNA">false</setting>
    <setting id="UsarDNSMovistar">true</setting>
    <setting id="ZonaGeografica">0</setting>
    <setting id="actualizarBibliotecasenarranque">false</setting>
    <setting id="canalesgrabacion">1</setting>
    <setting id="colorresaltadoEPG">blue</setting>
    <setting id="detalleepg">true</setting>
    <setting id="diasantiguedad">7</setting>
    <setting id="eliminargrabacioncloud">true</setting>
    <setting id="finalventana">24</setting>
    <setting id="inicioventana">0</setting>
    <setting id="lentimeshiftfile">8192</setting>
    <setting id="minutosantes">5</setting>
    <setting id="minutosdespues">5</setting>
    <setting id="nconcurrentes">10</setting>
    <setting id="ntemporizadores">50</setting>
    <setting id="passwordservidor">movistartv</setting>
    <setting id="refrescarlogosalreiciar">true</setting>
    <setting id="registroshistorial">50</setting>
    <setting id="servidorInicio">239.0.2.129</setting>
    <setting id="sincronizar">false</setting>
    <setting id="sincronizarBibliotecaNube">true</setting>
    <setting id="sincronizartvshow">true</setting>
</settings>
