PGID=
PUID=

LAN_IP=

LOG_COMSKIP=
RECORDINGS=

TRANSMISSION_PORT=

IPTV_ADDRESS=
IPTV_NET=


MAC_COMSKIP=
MAC_EMBY=
MAC_MEDUSA=
MAC_TRANSMISSION=

MAC_MOVISTAR1=
MAC_MOVISTAR2=

MAC_TVHEADEND=


SUBNET_IMAGENIO=
SUBNET_MULTIMEDIA=
SUBNET_TVLAN=
