PGID=
PUID=

LAN_IP=

LOG_COMSKIP=
RECORDINGS=
TRANSMISSION_PORT=6666

IPTV_ADDRESS=
IPTV_GW=
IPTV_NET=10.64.0.0/12

U7D_ADDRESS=
U7D_GW=
U7D_HOME=/opt/xmltv

MAC_COMSKIP=
MAC_EMBY=
MAC_MEDUSA=
MAC_TRANSMISSION=
MAC_XTEVE=

MAC_MOVISTAR1=
MAC_MOVISTAR2=

MAC_TVHEADEND=
MAC_IPTV_U7D=
MAC_MOVISTAR_U7D=

MAC_U7D=

RESTART_POLICY=on-failure

SUBNET_IMAGENIO=
SUBNET_MULTIMEDIA=
SUBNET_TVLAN=
