PGID=
PUID=

LAN_IP=

LOG_COMSKIP=
DOWNLOADS=
PARALLEL_RECORDINGS=
RECORDINGS=

SANIC_HOST=
IPTV_ADDRESS=
U7D_HOME=
U7D_UID=

MAC_COMSKIP=
MAC_EMBY=
MAC_MEDUSA=
MAC_FLOOD=
MAC_RTORRENT=

RESTART_POLICY=unless-stopped

SUBNET_MULTIMEDIA=

